from ascetic_ddd.seedwork.domain.aggregate import PersistentDomainEventExporter
{% from "_macros.j2" import vo_imports %}
{% from "_field_macros.j2" import exporter_method %}
{{ vo_imports(used_vos, package_prefix, with_exporters=true) }}
from {{ package_prefix }}.events.{{ event.snake_name }} import I{{ event.class_name }}Exporter


class {{ event.class_name }}Exporter(PersistentDomainEventExporter, I{{ event.class_name }}Exporter):
    def __init__(self) -> None:
        super().__init__()
{% for f in event.fields if f.is_collection %}
        self.data['{{ f.param_name }}'] = []
{% endfor %}
{% for f in event.fields %}

{{ exporter_method(f) }}
{% endfor %}
