from dataclasses import dataclass
{% if needs_datetime %}
from datetime import datetime
{% endif %}
{% if needs_decimal %}
from decimal import Decimal
{% endif %}

from ascetic_ddd.mediator.interfaces import IRequest


@dataclass(frozen=True, kw_only=True)
class {{ cmd.class_name }}Command(IRequest[None]):
{% for f in cmd.fields %}
    {{ f.param_name }}: {{ f.type_name }}
{% endfor %}
    command_version: int = {{ cmd.command_version }}
