{% if needs_datetime %}
from datetime import datetime
{% endif %}

from ascetic_ddd.seedwork.domain.aggregate import VersionedAggregateReconstitutor
{% for imp in imports %}
{{ imp }}
{% endfor %}
from {{ package_prefix }}.{{ agg.snake_name }} import I{{ agg.class_name }}Reconstitutor


class {{ agg.class_name }}Reconstitutor(VersionedAggregateReconstitutor, I{{ agg.class_name }}Reconstitutor):
    def __init__(
        self,
{% for f in reconstitutor_params %}
        {{ f.param_name }},
{% endfor %}
        *args,
        **kwargs,
    ) -> None:
        super().__init__(*args, **kwargs)
        self._data.update({
{% for f in reconstitutor_params %}
            '{{ f.param_name }}': {{ f.param_name }},
{% endfor %}
        })
{% for f in fields %}

{% if f.dispatch_kind == 'primitive' %}
    def {{ f.param_name }}(self):
        return self._data['{{ f.param_name }}']
{% elif f.dispatch_kind == 'simple_vo' %}
    def {{ f.param_name }}(self):
        return {{ f.type_name }}(self._data['{{ f.param_name }}'])
{% elif f.dispatch_kind == 'composite_vo' %}
    def {{ f.param_name }}(self):
        data = self._data['{{ f.param_name }}']
        return {{ f.type_name }}(**data)  # TODO: adjust composite reconstruction
{% elif f.dispatch_kind == 'collection_simple_vo' %}
    def {{ f.param_name }}(self):
        return [{{ f.inner_type }}(i) for i in self._data['{{ f.param_name }}']]
{% elif f.dispatch_kind == 'collection_composite_vo' %}
    def {{ f.param_name }}(self):
        return [{{ f.inner_type }}(**i) for i in self._data['{{ f.param_name }}']]  # TODO: adjust
{% endif %}
{% endfor %}
