from ascetic_ddd.seedwork.domain.aggregate import VersionedAggregateExporter
{% from "_macros.j2" import vo_imports %}
{% from "_field_macros.j2" import exporter_method %}
{{ vo_imports(used_vos, package_prefix, with_exporters=true) }}
{% for ent in entities %}
from {{ package_prefix }}.{{ ent.snake_name }}.{{ ent.snake_name }}_exporter import {{ ent.class_name }}Exporter
{% endfor %}
from {{ package_prefix }}.{{ agg.snake_name }} import I{{ agg.class_name }}Exporter


class {{ agg.class_name }}Exporter(VersionedAggregateExporter, I{{ agg.class_name }}Exporter):
    def __init__(self) -> None:
        super().__init__()
{% for f in fields if f.is_collection %}
        self.data['{{ f.param_name }}'] = []
{% endfor %}
{% for f in fields %}

{{ exporter_method(f) }}
{% endfor %}
