{% if needs_datetime %}
from datetime import datetime
{% endif %}

from ascetic_ddd.seedwork.domain.aggregate import VersionedAggregateReconstitutor
{% from "_macros.j2" import vo_imports %}
{% from "_field_macros.j2" import reconstitutor_method %}
{{ vo_imports(used_vos, package_prefix) }}
{% for ent in entities %}
from {{ package_prefix }}.{{ ent.snake_name }}.{{ ent.snake_name }}_reconstitutor import {{ ent.class_name }}Reconstitutor
{% endfor %}
from {{ package_prefix }}.{{ agg.snake_name }} import I{{ agg.class_name }}Reconstitutor


class {{ agg.class_name }}Reconstitutor(VersionedAggregateReconstitutor, I{{ agg.class_name }}Reconstitutor):
    def __init__(
        self,
{% for f in reconstitutor_params %}
        {{ f.param_name }},
{% endfor %}
        *args,
        **kwargs,
    ) -> None:
        super().__init__(*args, **kwargs)
        self._data.update({
{% for f in reconstitutor_params %}
            '{{ f.param_name }}': {{ f.param_name }},
{% endfor %}
        })
{% for f in fields %}

{{ reconstitutor_method(f) }}
{% endfor %}
