{% macro vo_imports(used_vos, package_prefix, with_exporters=false) %}
{% for vo in used_vos %}
{% if vo.import_path %}
from {{ vo.import_path }} import {{ vo.class_name }}
{% else %}
from {{ package_prefix }}.values import {{ vo.class_name }}
{% endif %}
{% if with_exporters and vo.kind == 'composite' %}
{% if vo.import_path %}
from {{ vo.import_path }}_exporter import {{ vo.class_name }}Exporter
{% else %}
from {{ package_prefix }}.values import {{ vo.class_name }}Exporter
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}
